.list-wrapper {
    max-height: 100vh;
    overflow-y: scroll;
}

.ticket-button {
    height: 100%;
    width: 100%;
    border-color: black;
    background-color: white;
}

.ticket-button:hover{
    color: black !important;
    border: 3px solid rgb(253,186,116) !important;
}

.ant-switch-checked .ant-switch-handle::before {
    display: none !important;
}
.ant-switch-handle::before {
    display: none !important;
}
.ant-switch-handle {
    width: 14px !important;
    height: 14px !important;
 }
.ant-switch-checked:hover {
    background-color: rgb(253,186,116) !important;
}

.anticon svg path {
    stroke-width: 30px; /* adjust the stroke width to make the line longer */
}

.row {
    font-size: large;
    text-align: center;
    justify-content: center;
}

.row-avail{
    color: green;
}

.ticket-info {
    font-size: 18px;
    margin-top: 10px;
}