.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-container .ant-select-selector {
    display: flex !important;
    border: 1px solid Grey !important;
    font-size: 20px !important;
    border-width: 3px !important;
    border-radius: 12px !important;
    line-height: normal !important;
}

.form-container .ant-select-selector:hover {
    border-color: #1677FF !important;
}

.autocomplete-icon .ant-input-group-addon{
    background: none;
    border: none;
    padding-top: 8px;
    font-size: 18px !important;
}

.autocomplete-icon .ant-input-group-addon:hover{
    cursor: default;
}

.form-container .ant-select-selector {
    min-height: 40px;
}

.form-container .ant-select-selection-search-input {
    min-height: 100%;
}

.form-input {
    font-size: 18px;
    border: 1px solid Grey; 
    border-radius: 12px;
    border-width: 3px;
}

.form-label {
    font-size: 20px;
}