<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ba37ae02-8f00-4e9d-ac41-c409f7f6a507/resourceGroups/cmps383-2023-sp-p03-cmps383-2023-sp-p03-g04-resource-group/providers/Microsoft.Web/sites/selu383-sp23-p03-g04</ResourceId>
    <ResourceGroup>cmps383-2023-sp-p03-cmps383-2023-sp-p03-g04-resource-group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://selu383-sp23-p03-g04.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>61304dbc-e059-494a-8fc0-745b3fb8dc34</ProjectGuid>
    <PublishUrl>https://selu383-sp23-p03-g04.scm.azurewebsites.net/</PublishUrl>
    <UserName>$selu383-sp23-p03-g04</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>