.input-label {
    font-size: 20px !important;
}

.trip-input:hover {
    border-color: #1677FF !important;
}

.ant-col {
    height: 55px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.form-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0px;
}

